.wrapper {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 9px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.medium {
  padding: 9px 12px;
}

.large {
  padding: 9px 16px;
}

.primary {
  background-color: var(--primary);
  color: var(--white) !important;
}
